[user]
	email = mieke.massink@isti.cnr.it
	name = Mieke Massink
[credential]
	helper = "!f() { /workspaces/case-study-eta-minimization/.vscode-server/bin/8b3775030ed1a69b13e4f4c628c612102e30a681/node /tmp/vscode-remote-containers-3edc844c-f902-4fff-b689-c1e6f62b076d.js git-credential-helper $*; }; f"
