[user]
	email = mieke.massink@isti.cnr.it
	name = Mieke Massink
[credential]
	helper = "!f() { /workspaces/case-study-eta-minimization/.vscode-server/bin/31c37ee8f63491495ac49e43b8544550fbae4533/node /tmp/vscode-remote-containers-468cb131-5c8e-48fb-b42a-78f37370e773.js git-credential-helper $*; }; f"
